<% include partials/head %>
<div class="wrapper">
    <h1><%= title %></h1>
    <div class="ra-r">
        <div class="tp">
            <a class="thumb-pr mn" href="">Shop Now</a>
            <a class="thumb-pr r-e" href="">4 for 3 Christmas cards 4 FOR 3 CHRISTMAS CARDS</a>
        </div>
        <div class="bt">
            <a class="thumb-pr l" href="">Grayson Perry</a>
            <a class="thumb-pr c" href="">Gerhard Richter</a>
            <a class="thumb-pr r" href="">Tate Edit last chance</a>
        </div>
    </div>
</div>
<% include partials/foot %>