<% include ../partials/head %>
<div class="wrapper">
    <h1>Prints</h1>
    <p>Bring art home. Choose from hundreds of fine art prints featuring artworks from our collection and signed editions from living artists.</p>
    <div class="ra-r">
        <div class="bt">
            <a class="thumb-pr l" href="/prints/artworks">VIEW ALL PRINTS</a>
            <a class="thumb-pr c" href="/prints/artists">PRINTS BY ARTIST A-Z</a>
            <a class="thumb-pr r" href="/prints/genre">PRINTS BY GENRE</a>
        </div>
    </div>
</div>
<% include ../partials/foot %>